doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr' crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css?family=Overpass|Srisakdi' rel='stylesheet')


    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            ul(class='sidebar-section')
              li 
                a(href='/catalog') HOME
              li 
                a(href='/catalog/books') All books
              li 
                a(href='/catalog/authors') All authors
              //- li 
              //-   a(href='/catalog/genres') All genres
            hr
            h6 #[strong Create new:]

            ul(class='sidebar-section')
              li 
                a(href='/catalog/author/create') Author 
              //- li 
              //-   a(href='/catalog/genre/create') Create new genre
              li 
                a(href='/catalog/book/create') Book
                
        div(class='col-sm-9 offset-sm-1')
          block content